RPC_URL=http://127.0.0.1:8545
SERVER_PRIVATE_KEY=0xYOUR_TEST_PRIVATE_KEY_FOR_WRITE_APIS
CONTRACT_ADDRESS=0xYOUR_REMIX_DEPLOYED_CONTRACT_ADDRESS
COURSE_IDS=CSE101,CSE102
PORT=4000
CORS_ORIGIN=http://localhost:5173
