RPC_URL=http://127.0.0.1:7545
DEPLOYER_PRIVATE_KEY=0xYOUR_GANACHE_PRIVATE_KEY_OPTIONAL
SERVER_PRIVATE_KEY=0xYOUR_GANACHE_PRIVATE_KEY_FOR_BACKEND_WRITES
COURSE_IDS=CSE101,CSE102
PORT=4000
CORS_ORIGIN=http://localhost:5173
